# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyTorch / Ultralytics / YOLO
runs/
*.cache
*.pt

# Data / Defects output
defects/
mvtec_anomaly_detection/
datasets/mvtec_*_yolo/
datasets/stitchingnet_yolo/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
tempCodeRunnerFile.py
